<!DOCTYPE html>
<html lang="en">
<head>
    <base href="@(ViewBag.BasePath ?? Url.Action("Index", "/"))" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewBag.Title) - ASPxAngular</title>
    @RenderSection("styles", false)
</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
    @* @RenderSection("scripts", false) *@
</body>
</html>
